Repository cryostatio/cryostat-operator, pull requests merged in 2021-11, with the labels that each got.

#286 feat(deploy): use Always pull policy for development images
  Makefile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/default/image_pull_patch.yaml
  config/default/kustomization.yaml
  hack/image_pull_patch.yaml.in
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/cryostat_controller_test.go
Labels: feat

#291 fix(auth): Encode auth bearer token
  README.md
  docs/api.md
  internal/controllers/common/common_reconciler.go
  internal/test/handlers.go
Labels: fix

#295 fix(deploy): set CRYOSTAT_SSL_PROXIED only for TLS ingress/route
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/cryostat_controller_test.go
  internal/test/resources.go
Labels: fix, backport

#300 docs(cert-manager): Add cert-manager docs to CSV
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
Labels: documentation, docs, backport

#305 docs(ingress): Add link to ingress docs
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
Labels: docs, backport
