Repository cryostatio/cryostat-operator, pull requests merged in 2021-12, with the labels that each got.

#312 fix(ingress): Recommend Ingress timeout as 3600s
  docs/config.md
Labels: docs

#313 feat(api): add service customization to CRD
  api/v1beta1/cryostat_types.go
  api/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  docs/config.md
  internal/controllers/common/common_reconciler.go
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/cryostat_controller.go
  internal/controllers/cryostat_controller_test.go
  internal/test/resources.go
Labels: feat

#314 docs(about): Match operatorHub naming convention
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
Labels: docs

#292 feat(auth): Add OAuth client to service account
  bundle/manifests/cryostat-operator-oauth-client_rbac.authorization.k8s.io_v1_clusterrole.yaml
  config/rbac/kustomization.yaml
  config/rbac/oauth_client.yaml
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/cryostat_controller.go
  internal/controllers/cryostat_controller_test.go
  internal/test/resources.go
Labels: enhancement

#318 fix(deploy): mount probe template directory
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/test/resources.go
Labels: fix

#319 feat(auth): Add logout permissions to service account
  bundle/manifests/cryostat-operator-cryostat_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/rbac/cryostat_role.yaml
  config/rbac/role.yaml
  internal/controllers/cryostat_controller.go
Labels: feat
