Repository cryostatio/cryostat-operator, pull requests merged in 2022-01, with the labels that each got.

#324 build(deps): update dgrijalva/jwt-go to patched version
  go.mod
  go.sum
Labels: fix, backport

#322 feat(config): Add cryostat origin to APIServer CORS allowed origins
  config/rbac/role.yaml
  internal/controllers/cryostat_controller.go
  internal/controllers/cryostat_controller_test.go
  internal/controllers/suite_test.go
  internal/main.go
  internal/test/resources.go
Labels: feat

#329 docs(ingress): Remove unneeded ingress timeouts
  docs/config.md
Labels: docs

#321 fix(makefile): Deploy bundle with BUNDLE_IMG
  Makefile
Labels: fix

#333 feat(printer-column): Printer Column for Application URL
  api/v1beta1/cryostat_types.go
Labels: feat

#325 feat(cryostat): implement sidecar report config
  Makefile
  api/v1beta1/cryostat_types.go
  api/v1beta1/zz_generated.deepcopy.go
  bundle.Dockerfile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  bundle/metadata/annotations.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/default/image_tag_patch.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  config/samples/operator_v1beta1_cryostat.yaml
  docs/config.md
  hack/image_tag_patch.yaml.in
  internal/controllers/common/resource_definitions/imagetag_generated.go
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/cryostat_controller.go
  internal/controllers/cryostat_controller_test.go
  internal/test/resources.go
  internal/tools/imagetag_generator.go
Labels: feat

#334 fix(printer-column): add printer column to CSV
  bundle.Dockerfile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  bundle/metadata/annotations.yaml
Labels: fix

#331 docs(authentication): Update web-client login info
  README.md
Labels: docs
