Repository cryostatio/cryostat-operator, pull requests merged in 2022-11, with the labels that each got.

#486 test(sample): update sample apps
  Makefile
Labels: chore

#496 build(version): bump versions for 2.3.0-dev
  Makefile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/tests/scorecard/config.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  config/scorecard/patches/custom.config.yaml
Labels: chore, build

#498 build(version): update versions for 2.2.1-dev
  Makefile
  bundle.Dockerfile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
  config/default/image_pull_patch.yaml
  config/default/image_tag_patch.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  config/scorecard/patches/custom.config.yaml
  internal/controllers/const_generated.go
Labels: chore, build

#499 fix(deploy): use recreate strategy and 1 replica
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/cryostat_controller.go
  internal/controllers/cryostat_controller_test.go
  internal/test/resources.go
Labels: fix, backport
