Repository cryostatio/cryostat-operator, pull requests merged in 2022-07, with the labels that each got.

#422 feat(license): add license header checking script
  Makefile
  api/v1beta1/groupversion_info.go
  internal/controllers/suite_test.go
  internal/main.go
Labels: feat

#423 fix(resources): add resource limits/requests for operator deployment
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
Labels: fix

#425 feat(labels): allow users to define labels/annotations for routes
  internal/controllers/cryostat_controller_test.go
  internal/controllers/routes.go
  internal/test/resources.go
Labels: feat

#427 docs(auth): update service account secret name
  README.md
Labels: docs

#429 docs(network): NetworkConfiguration is not Ingress-specific
  api/v1beta1/cryostat_types.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  docs/config.md
Labels: docs

#432 feat(crd): add reference to Grafana secret in Cryostat CR
  api/v1beta1/cryostat_types.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  bundle/metadata/annotations.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/cryostat_controller.go
  internal/controllers/cryostat_controller_test.go
Labels: feat
