Repository cryostatio/cryostat-operator, pull requests merged in 2022-10, with the labels that each got.

#462 feat(pvc): update existing PVCs
  api/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/rbac/role.yaml
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/cryostat_controller.go
  internal/controllers/cryostat_controller_test.go
  internal/controllers/pvc.go
  internal/controllers/services.go
  internal/test/clients.go
Labels: feat

#470 fix(reports): fix panic in reports scheduling
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/cryostat_controller_test.go
  internal/test/resources.go
Labels: fix

#467 feat(openshift): update existing console links
  Makefile
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/const_generated.go
  internal/controllers/cryostat_controller.go
  internal/controllers/cryostat_controller_test.go
  internal/controllers/openshift.go
  internal/controllers/rbac.go
  internal/test/resources.go
  internal/tools/const_generator.go
Labels: feat

#468 fix(watches): update object types watched by controller
  internal/controllers/cryostat_controller.go
  internal/main.go
Labels: fix

#472 fix(deploy): recreate deployment if selector changed
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/cryostat_controller.go
  internal/controllers/cryostat_controller_test.go
  internal/test/resources.go
Labels: fix

#474 feat(discovery): allow configurations for discovery service
  api/v1beta1/cryostat_types.go
  api/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  docs/config.md
  go.mod
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/cryostat_controller_test.go
  internal/controllers/secrets.go
  internal/test/resources.go
Labels: feat

#473 build(olm): move capability level to Seamless Upgrades
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
Labels: chore, build

#477 chore(icon): update icon
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  docs/images/cryostat-icon-reverse.svg
  docs/images/cryostat-icon.svg
Labels: chore, build

#437 fix(resources): set cryostat container resource request defaults
  api/v1beta1/cryostat_types.go
  api/v1beta1/zz_generated.deepcopy.go
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/cryostat_controller_test.go
  internal/test/resources.go
Labels: fix

#478 docs(resources): document default resource requests
  docs/config.md
Labels: docs

#482 build(csv): update link in CSV description
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
Labels: chore, backport, build
