Repository cryostatio/cryostat-operator, pull requests merged in 2022-08, with the labels that each got.

#430 build(operator-sdk): upgrade operator sdk version to 1.22.2
  .github/workflows/ci.yaml
  .gitignore
  Dockerfile
  Makefile
  README.md
  api/v1beta1/flightrecorder_types.go
  api/v1beta1/recording_types.go
  api/v1beta1/zz_generated.deepcopy.go
  bundle.Dockerfile
  bundle/manifests/cryostat-operator-service-account_v1_serviceaccount.yaml
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  bundle/manifests/operator.cryostat.io_flightrecorders.yaml
  bundle/manifests/operator.cryostat.io_recordings.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_flightrecorders.yaml
  config/crd/bases/operator.cryostat.io_recordings.yaml
  config/crd/kustomization.yaml
  config/crd/patches/deprecate_flightrecorders.yaml
  config/crd/patches/deprecate_recordings.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/manager/manager.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  config/manifests/kustomization.yaml
  config/prometheus/monitor.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/cryostat_controller.go
  internal/controllers/cryostat_controller_test.go
  internal/controllers/recording_controller_test.go
  internal/controllers/suite_test.go
  internal/test/resources.go
Labels: fix, build

#435 build(deps): update OpenShift and cert-manager
  Makefile
  README.md
  go.mod
  go.sum
Labels: build

#440 feat(auth-properties): allow users to specific cryostat permission mappings
  api/v1beta1/cryostat_types.go
  api/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator-oauth-client_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  config/rbac/oauth_client.yaml
  docs/config.md
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/cryostat_controller_test.go
  internal/test/resources.go
Labels: feat

#442 fix(auth-properties): update docs links and add missing custom cluster-role in tests
  docs/config.md
  internal/controllers/cryostat_controller_test.go
  internal/test/resources.go
Labels: fix, docs
