Repository cryostatio/cryostat-operator, pull requests merged in 2022-09, with the labels that each got.

#443 fix(gitignore): ignore bundle tmp directory from catalog build
  .gitignore
Labels: fix

#445 test(scorecard): add scorecard test for operator availability
  Makefile
  bundle/tests/scorecard/config.yaml
  config/scorecard/kustomization.yaml
  config/scorecard/patches/basic.config.yaml
  config/scorecard/patches/custom.config.yaml
  config/scorecard/patches/olm.config.yaml
  go.mod
  go.sum
  hack/custom.config.yaml.in
  internal/images/custom-scorecard-tests/.gitignore
  internal/images/custom-scorecard-tests/Dockerfile
  internal/images/custom-scorecard-tests/bin/entrypoint
  internal/images/custom-scorecard-tests/bin/user_setup
  internal/images/custom-scorecard-tests/main.go
  internal/images/custom-scorecard-tests/rbac/scorecard_role.yaml
  internal/images/custom-scorecard-tests/rbac/scorecard_role_binding.yaml
  internal/images/custom-scorecard-tests/rbac/scorecard_service_account.yaml
  internal/test/scorecard/tests.go
Labels: test

#449 fix(reports): add nil-check and remove side effects
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/cryostat_controller.go
  internal/controllers/cryostat_controller_test.go
  internal/controllers/services.go
Labels: fix

#453 fix(makefile): use ignore-not-found flag when deleting resources
  Makefile
Labels: fix

#450 fix(security): support restricted pod security standard
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/cryostat_controller.go
  internal/controllers/cryostat_controller_test.go
  internal/test/resources.go
Labels: fix

#457 feat(security): security contexts are now configurable
  api/v1beta1/cryostat_types.go
  api/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  docs/config.md
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/cryostat_controller_test.go
  internal/test/resources.go
Labels: feat

#458 feat(rbac): update operator-controlled RBAC objects
  internal/controllers/common/common_utils.go
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/cryostat_controller.go
  internal/controllers/cryostat_controller_test.go
  internal/controllers/rbac.go
  internal/controllers/routes.go
  internal/test/resources.go
Labels: feat

#460 chore(samples): update sample app definitions
  Makefile
Labels: chore
