Repository cryostatio/cryostat-operator, pull requests merged in 2022-05, with the labels that each got.

#386 refactor(makefile): Rename the IMG env var to OPERATOR_IMG
  Makefile
Labels: chore, refactor, build

#395 build(version): set versions for 2.1.0 release
  Makefile
  bundle.Dockerfile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/default/image_pull_patch.yaml
  config/default/image_tag_patch.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/common/resource_definitions/imagetag_generated.go
Labels: chore, build

#398 build(deps): update gopkg.in/yaml.v3 to 3.0.1
  go.mod
  go.sum
Labels: chore, backport, build

#401 fix(health): use /health/liveness for probes
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/test/resources.go
Labels: fix, backport
