Repository cryostatio/cryostat-operator, pull requests merged in 2022-03, with the labels that each got.

#348 fix(WebSocket): Update ws limit
  api/v1beta1/cryostat_types.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  docs/config.md
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/test/resources.go
Labels: fix, docs

#356 fix(api): deprecate FlightRecorder and Recording CRDs
  README.md
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_flightrecorders.yaml
  bundle/manifests/operator.cryostat.io_recordings.yaml
  config/crd/kustomization.yaml
  config/crd/patches/deprecate_flightrecorders.yaml
  config/crd/patches/deprecate_recordings.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  docs/api.md
Labels: fix

#355 feat(storage): add EmptyDir storage option
  api/v1beta1/cryostat_types.go
  api/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  docs/config.md
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/cryostat_controller.go
  internal/controllers/cryostat_controller_test.go
  internal/test/resources.go
Labels: feat

#358 docs(storage): fix EmptyDir option example
  docs/config.md
Labels: docs
