Repository cryostatio/cryostat-operator, pull requests merged in 2023-02, with the labels that each got.

#518 chore(api): capitalize JMX credentials DB display name
  api/v1beta1/cryostat_types.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
Labels: chore

#508 feat(cert): Delete Grafana certificate and secret when in minimal mode
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/certmanager.go
  internal/controllers/cryostat_controller.go
  internal/controllers/cryostat_controller_test.go
Labels: feat

#519 chore(controllers): rename controller files to be shared
  internal/controllers/reconciler.go
  internal/controllers/reconciler_test.go
Labels: chore

#526 build(deps): replace go-restful with newer version
  go.mod
  go.sum
Labels: backport, build

#530 fix(discovery): look up API resources individually
  internal/main.go
Labels: fix
