Repository cryostatio/cryostat-operator, pull requests merged in 2023-05, with the labels that each got.

#569 build(go): upgrade to Golang 1.20
  .github/workflows/ci.yaml
  Dockerfile
  README.md
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/tests/scorecard/config.yaml
  config/scorecard/patches/custom.config.yaml
  go.mod
  internal/images/custom-scorecard-tests/Dockerfile
Labels: chore, backport, build

#575 fix(crd): remove mentions of JMX in credential database
  api/v1beta1/cryostat_types.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_clustercryostats.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_clustercryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/secrets.go
Labels: fix, backport

#581 fix(rbac): bypass cache when reading RoleBindings
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  internal/main.go
Labels: fix, backport

#578 feat(sample): add quarkus-test-agent sample app
  Makefile
  config/samples/sample-app-agent.yml
Labels: chore

#587 chore(release): update versions for 2.3.1 development
  Makefile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/tests/scorecard/config.yaml
  config/default/image_pull_patch.yaml
  config/default/image_tag_patch.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  config/scorecard/patches/custom.config.yaml
  internal/controllers/const_generated.go
Labels: chore

#589 test(scorecard): enable scorecard on k8s
  internal/test/scorecard/tests.go
Labels: test

#588 feat(ci): setup CI to push scorecard, bundle images and run scorecard
  .github/kind-config.yaml
  .github/workflows/ci.yaml
  .gitignore
  .mergify.yml
  Makefile
Labels: feat, ci, safe-to-test

#592 fix(ci): new scorecard tag should trigger CI builds
  .github/workflows/ci.yaml
Labels: fix, safe-to-test

#590 chore(samples): create sample apps from manifests
  Makefile
  config/samples/sample-app-agent.yaml
  config/samples/sample-app.yaml
Labels: chore, safe-to-test
