Repository cryostatio/cryostat-operator, pull requests merged in 2023-04, with the labels that each got.

#544 docs(api): document ClusterCryostat API
  docs/multi-namespace.md
Labels: docs

#546 fix(api): add multi-tenancy warning to description
  api/v1beta1/clustercryostat_types.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_clustercryostats.yaml
  config/crd/bases/operator.cryostat.io_clustercryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
Labels: fix

#543 build(operator-sdk): upgrade operator sdk version to 1.28.0
  .github/workflows/ci.yaml
  Dockerfile
  Makefile
  README.md
  bundle.Dockerfile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_clustercryostats.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  bundle/metadata/annotations.yaml
  config/crd/bases/operator.cryostat.io_clustercryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/default/manager_auth_proxy_patch.yaml
  go.mod
  go.sum
  internal/controllers/suite_test.go
  internal/images/custom-scorecard-tests/Dockerfile
  internal/test/clients.go
Labels: chore, build

#549 build(deps): upgrade dependencies
  Makefile
  go.mod
  go.sum
  internal/controllers/certmanager.go
  internal/controllers/clustercryostat_controller_test.go
  internal/controllers/common/resource_definitions/certificates.go
  internal/controllers/common/tls.go
  internal/controllers/constants/constants.go
  internal/controllers/cryostat_controller_test.go
  internal/controllers/reconciler.go
  internal/controllers/reconciler_test.go
  internal/controllers/suite_test.go
  internal/main.go
  internal/test/clients.go
  internal/test/resources.go
Labels: chore, build

#552 fix(env): rename reports sidecar env var
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/test/resources.go
Labels: fix

#554 chore(github): add pr and issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
Labels: chore

#555 build(config): update makefile and mergify for 2.3 release
  .mergify.yml
  Makefile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/tests/scorecard/config.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  config/scorecard/patches/custom.config.yaml
Labels: chore, build

#560 test(scorecard): log workload conditions/events upon failure
  Makefile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/tests/scorecard/config.yaml
  config/scorecard/patches/custom.config.yaml
  internal/images/custom-scorecard-tests/rbac/scorecard_role.yaml
  internal/test/scorecard/tests.go
Labels: test, backport

#563 fix(csv): use Cryostat CR as initialization resource
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
Labels: fix, backport

#566 fix(deploy): lower default Grafana CPU request
  docs/config.md
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/test/resources.go
Labels: fix, backport
