Repository cryostatio/cryostat-operator, pull requests merged in 2023-11, with the labels that each got.

#670 feat(insights): optionally deploy a proxy for Insights
  Makefile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/insights/insights_patch.yaml
  config/insights/kustomization.yaml
  config/manager/manager.yaml
  config/rbac/role.yaml
  hack/insights_patch.yaml.in
  internal/controllers/clustercryostat_controller.go
  internal/controllers/clustercryostat_controller_test.go
  internal/controllers/common/common_utils.go
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/common/tls.go
  internal/controllers/constants/constants.go
  internal/controllers/cryostat_controller.go
  internal/controllers/cryostat_controller_test.go
  internal/controllers/insights/apicast.go
  internal/controllers/insights/insights.go
  internal/controllers/insights/insights_controller.go
  internal/controllers/insights/insights_controller_test.go
  internal/controllers/insights/insights_controller_unit_test.go
  internal/controllers/insights/insights_suite_test.go
  internal/controllers/insights/setup.go
  internal/controllers/insights/setup_test.go
  internal/controllers/insights/test/manager.go
  internal/controllers/insights/test/resources.go
  internal/controllers/insights/test/utils.go
  internal/controllers/openshift.go
  internal/controllers/pvc.go
  internal/controllers/rbac.go
  internal/controllers/reconciler.go
  internal/controllers/reconciler_test.go
  internal/controllers/reconciler_unit_test.go
  internal/main.go
  internal/test/expect.go
  internal/test/resources.go
Labels: feat, backport, safe-to-test

#674 fix(insights): add port to INSIGHTS_PROXY
  internal/controllers/insights/insights.go
  internal/controllers/insights/insights_controller.go
  internal/controllers/insights/setup.go
  internal/controllers/insights/setup_test.go
Labels: fix, backport, safe-to-test

#677 fix(insights): set User-Agent header for UHC Auth Proxy
  Makefile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/insights/insights_patch.yaml
  config/rbac/role.yaml
  internal/controllers/const_generated.go
  internal/controllers/insights/apicast.go
  internal/controllers/insights/insights.go
  internal/controllers/insights/insights_controller.go
  internal/controllers/insights/insights_controller_test.go
  internal/controllers/insights/test/resources.go
  internal/main.go
  internal/tools/const_generator.go
Labels: fix, backport, safe-to-test

#684 ci(status): add status check for tests
  .github/workflows/test-ci-command.yml
  .github/workflows/test-ci-push.yml
  .github/workflows/test-ci-reusable.yml
Labels: ci, safe-to-test

#676 chore(makefile): use CLUSTER_CLIENT instead of oc
  Makefile
Labels: chore, safe-to-test

#668 feat(openshift): add Configuring Cryostat Quickstart
  config/openshift/cryostat-quickstart.yaml
  config/openshift/kustomization.yaml
Labels: feat, backport

#687 chore(makefile): option to generate bundles with quickstart on ocp
  Makefile
Labels: chore, backport, safe-to-test

#688 fix(openshift): update Quickstart text/formatting
  config/openshift/cryostat-quickstart.yaml
Labels: fix, backport, high-priority, safe-to-test

#661 feat(cert): add cryostat CA cert to target namespaces
  internal/controllers/certmanager.go
  internal/controllers/clustercryostat_controller_test.go
  internal/controllers/common/finalizer_utils.go
  internal/controllers/reconciler.go
  internal/controllers/reconciler_test.go
  internal/test/clients.go
  internal/test/resources.go
Labels: feat, safe-to-test
