Repository cryostatio/cryostat-operator, pull requests merged in 2023-08, with the labels that each got.

#601 chore(license): relicense project to Apache-2.0
  LICENSE
  Makefile
  api/v1beta1/clustercryostat_types.go
  api/v1beta1/cryostat_types.go
  api/v1beta1/groupversion_info.go
  api/v1beta1/zz_generated.deepcopy.go
  go-license.yml
  hack/boilerplate.go.txt
  internal/controllers/certmanager.go
  internal/controllers/clustercryostat_controller.go
  internal/controllers/clustercryostat_controller_test.go
  internal/controllers/common/common_utils.go
  internal/controllers/common/finalizer_utils.go
  internal/controllers/common/resource_definitions/certificates.go
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/common/tls.go
  internal/controllers/configmaps.go
  internal/controllers/constants/constants.go
  internal/controllers/cryostat_controller.go
  internal/controllers/cryostat_controller_test.go
  internal/controllers/ingresses.go
  internal/controllers/model/instance.go
  internal/controllers/openshift.go
  internal/controllers/pvc.go
  internal/controllers/rbac.go
  internal/controllers/reconciler.go
  internal/controllers/reconciler_test.go
  internal/controllers/routes.go
  internal/controllers/secrets.go
  internal/controllers/services.go
  internal/controllers/suite_test.go
  internal/images/custom-scorecard-tests/Dockerfile
  internal/images/custom-scorecard-tests/main.go
  internal/images/custom-scorecard-tests/rbac/kustomization.yaml
  internal/images/custom-scorecard-tests/rbac/scorecard_role.yaml
  internal/images/custom-scorecard-tests/rbac/scorecard_role_binding.yaml
  internal/images/custom-scorecard-tests/rbac/scorecard_service_account.yaml
  internal/main.go
  internal/test/clients.go
  internal/test/reconciler.go
  internal/test/resources.go
  internal/test/scorecard/clients.go
  internal/test/scorecard/openshift.go
  internal/test/scorecard/tests.go
  internal/tools/const_generator.go
Labels: chore, safe-to-test

#602 ci(multiarch): build multiarch OCI manifest images
  .github/workflows/ci.yaml
  Makefile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
Labels: ci, safe-to-test

#605 build(multiarch): produce multiarch scorecard test image
  .github/workflows/ci.yaml
  Makefile
Labels: ci, build, safe-to-test

#606 chore(scorecard): bump Scorecard tag to trigger arm64 build
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/tests/scorecard/config.yaml
  config/scorecard/patches/custom.config.yaml
Labels: chore, safe-to-test

#610 build(scorecard): update multiarch build steps
  .github/workflows/ci.yaml
  Makefile
  api/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/tests/scorecard/config.yaml
  config/scorecard/patches/custom.config.yaml
  internal/images/custom-scorecard-tests/Dockerfile
Labels: ci, build, safe-to-test

#609 feat(ci): clean up test images after closing PRs
  .github/workflows/ci.yaml
  .github/workflows/image-cleanup.yml
Labels: feat, ci, safe-to-test

#615 ci(scorecard): fix missing image tags
  .github/workflows/ci.yaml
Labels: fix, ci, safe-to-test

#620 ci(scorecard): clean up images for both push and pr ci
  .github/workflows/ci.yaml
  .github/workflows/image-cleanup.yml
Labels: chore, ci, safe-to-test
