Repository cryostatio/cryostat-operator, pull requests merged in 2023-09, with the labels that each got.

#624 chore(release): Update versions for 2.3.1 release
  Makefile
  bundle.Dockerfile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/default/image_pull_patch.yaml
  config/default/image_tag_patch.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/const_generated.go
Labels: chore, safe-to-test

#625 chore(update): Update versions for 2.3.2 update
  Makefile
  bundle.Dockerfile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
  config/default/image_pull_patch.yaml
  config/default/image_tag_patch.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  config/scorecard/patches/custom.config.yaml
  internal/controllers/const_generated.go
Labels: chore, safe-to-test

#621 feat(scorecard): add psa labels for scorecard namespace
  Makefile
Labels: feat, test, safe-to-test

#608 fix(network): app & component labels for network objects
  internal/controllers/ingresses.go
  internal/controllers/reconciler_test.go
  internal/controllers/routes.go
  internal/controllers/services.go
  internal/test/resources.go
Labels: fix, safe-to-test

#622 build(cert-manager): upgrade cert-manager version
  Makefile
  README.md
  go.mod
  go.sum
Labels: build, safe-to-test

#617 chore(deployment): adjust resource requests
  docs/config.md
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/test/resources.go
Labels: chore, safe-to-test

#619 chore(ci): PR command build_test
  .github/workflows/build-ci.yml
  .github/workflows/ci.yaml
  .github/workflows/test-ci-command.yml
  .github/workflows/test-ci-push.yml
  .github/workflows/test-ci-reusable.yml
Labels: chore, ci, safe-to-test

#633 docs(readme): build-ci and test-ci-push badges
  README.md
Labels: docs

#629 chore(build): upgrade Operator SDK to v1.31.0
  .github/workflows/test-ci-reusable.yml
  Makefile
  README.md
  bundle.Dockerfile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_clustercryostats.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
  config/crd/bases/operator.cryostat.io_clustercryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  config/scorecard/patches/basic.config.yaml
  config/scorecard/patches/olm.config.yaml
Labels: chore, build, safe-to-test

#632 feat(openshift): custom extra labels/annotations on deployments/pods
  api/v1beta1/cryostat_types.go
  api/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_clustercryostats.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_clustercryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/common/common_utils.go
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/ingresses.go
  internal/controllers/pvc.go
  internal/controllers/reconciler.go
  internal/controllers/reconciler_test.go
  internal/controllers/routes.go
  internal/controllers/services.go
  internal/test/resources.go
Labels: feat, safe-to-test
