Repository cryostatio/cryostat-operator, pull requests merged in 2023-10, with the labels that each got.

#635 feat(ci): replaced GHCR_PR_TOKEN with GITHUB_TOKEN
  .github/workflows/dependent-issues.yml
  .github/workflows/release-drafter.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/test-ci-command.yml
  .github/workflows/test-ci-reusable.yml
Labels: feat, safe-to-test

#640 fix(makefile): fix ignore-not-found is not defined
  Makefile
Labels: fix, safe-to-test

#639 feat(ci): update github actions to node 16
  .github/workflows/build-ci.yml
  .github/workflows/test-ci-command.yml
  .github/workflows/test-ci-reusable.yml
Labels: ci, safe-to-test

#637 chore(build): add short summaries to targets
  Makefile
Labels: chore, build, safe-to-test

#646 ci(controller-test): remove manual cache actions
  .github/workflows/test-ci-reusable.yml
Labels: fix, ci, safe-to-test

#648 ci(dependabot): configure dependabot updates
  .github/CODEOWNERS
  .github/dependabot.yml
Labels: chore, ci, safe-to-test

#666 ci(dependabot): remove reviewers config
  .github/CODEOWNERS
  .github/dependabot.yml
Labels: ci, safe-to-test

#663 chore(versions): use release branch image tags
  Makefile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/default/image_tag_patch.yaml
  internal/controllers/const_generated.go
Labels: chore, safe-to-test
