Repository cryostatio/cryostat-operator, pull requests merged in 2024-07, with the labels that each got.

#905 test(img): correct test to assert pull policy on db and storage containers
  internal/controllers/reconciler_test.go
Labels: test, backport, safe-to-test

#904 chore(release): set versions and channels for 3.0.0 release
  Makefile
  bundle.Dockerfile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/default/image_pull_patch.yaml
  config/default/image_tag_patch.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/const_generated.go
Labels: chore, safe-to-test

#907 chore(release): prepare for 3.0.1
  Makefile
  bundle.Dockerfile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
  config/default/image_pull_patch.yaml
  config/default/image_tag_patch.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  config/scorecard/patches/custom.config.yaml
  internal/controllers/const_generated.go
Labels: chore, safe-to-test

#910 chore(csv): bump csv min k8s version to 1.25
  README.md
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
Labels: chore, backport, safe-to-test

#912 test(scorecard): preserve CR when retrying on conflict
  internal/test/scorecard/common_utils.go
Labels: test, backport, safe-to-test

#915 ci(build): query scorecard image tags with registry v2 api
  .github/workflows/build-ci.yml
Labels: fix, ci

#918 chore(rename): update references after repo rename
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/test/resources.go
Labels: chore, safe-to-test

#926 fix(webhook): make label selectors unambiguous
  bundle/manifests/cryostat-operator-cryostat-namespaced_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/cryostat-operator-cryostat_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/cryostat-operator-manager-config_v1_configmap.yaml
  bundle/manifests/cryostat-operator-oauth-client_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/cryostat-operator-webhook-service_v1_service.yaml
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/default/kustomization.yaml
  config/manifests/kustomization.yaml
Labels: fix, backport, safe-to-test
