Repository cryostatio/cryostat-operator, pull requests merged in 2024-06, with the labels that each got.

#839 fix(proxy): do not pass unused credentials upstream
  internal/controllers/common/resource_definitions/resource_definitions.go
Labels: fix, safe-to-test

#845 test(proxy): add missing args to proxy expectations
  internal/test/resources.go
Labels: test, safe-to-test

#847 chore(resources): cleanup v1beta1 resources
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/reconciler.go
Labels: chore, safe-to-test

#850 build(golang): build images with Go 1.22
  .github/workflows/test-ci-reusable.yml
  Dockerfile
  README.md
  go.mod
  go.sum
  internal/images/custom-scorecard-tests/Dockerfile
Labels: chore, build, safe-to-test

#831 fix(crd): restrict database secret name to be immutable
  README.md
  api/v1beta2/cryostat_types.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/reconciler_test.go
  internal/controllers/secrets.go
  internal/test/resources.go
Labels: fix, safe-to-test

#852 chore(csv): put v1beta2 crd version first in owned list
  Makefile
  README.md
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
Labels: chore, safe-to-test

#853 chore(authproxy): deploy fork of openshift-oauth-proxy
  Makefile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/default/image_tag_patch.yaml
  internal/controllers/const_generated.go
  internal/controllers/reconciler_test.go
Labels: chore, safe-to-test

#863 chore(release): prepare for release
  .mergify.yml
  Makefile
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
Labels: chore, safe-to-test

#871 ci(workflow): only attempt push if repo owner is upstream project
  .github/workflows/build-ci.yml
Labels: ci, backport, safe-to-test

#873 fix(versions): regenerate for new dev version
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/default/image_tag_patch.yaml
  config/manager/kustomization.yaml
  internal/controllers/const_generated.go
Labels: fix, safe-to-test

#868 test(scorecard): fix failing built-in olm scorecard test
  Makefile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/samples/kustomization.yaml
Labels: fix, test, safe-to-test

#874 fix(grafana): use relative dashboard path
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/test/resources.go
Labels: fix, backport, safe-to-test

#877 feat(api): add ExternalHost property for routes
  api/v1beta2/cryostat_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/reconciler_test.go
  internal/controllers/routes.go
  internal/test/resources.go
Labels: feat, backport, safe-to-test

#882 chore(csv): bump csv minKubeVersion to 1.21.0
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
Labels: chore, backport, safe-to-test

#880 chore(api): deprecate v1beta1 API version
  api/v1beta1/cryostat_types.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
Labels: chore, backport, safe-to-test

#893 chore(docs): update links to point to 3.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  api/v1beta2/cryostat_types.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
Labels: docs, backport, safe-to-test

#897 fix(tls): detect modified CA and reissue certs
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/certmanager.go
  internal/controllers/reconciler_test.go
  internal/controllers/secrets.go
  internal/test/resources.go
Labels: fix, backport, safe-to-test

#903 docs(deploy): add instructions on how to obtain static manifests
  README.md
Labels: docs, safe-to-test
