Repository cryostatio/cryostat-operator, pull requests merged in 2024-05, with the labels that each got.

#803 feat(auth): add config option to deploy oauth2_proxy instead of openshift-oauth-proxy
  api/v1beta2/cryostat_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/configmaps.go
  internal/controllers/reconciler.go
  internal/controllers/reconciler_test.go
  internal/controllers/secrets.go
  internal/test/resources.go
Labels: feat, safe-to-test

#810 feat(ocp): add optional flag to force platform as openshift
  config/manager/kustomization.yaml
  config/manager/patches/force_openshift_patch.yaml
  internal/main.go
Labels: feat, safe-to-test

#812 fix(csv): add related images for storage and db
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/default/image_tag_patch.yaml
  config/manager/kustomization.yaml
  hack/image_tag_patch.yaml.in
Labels: fix, safe-to-test

#808 chore(cryostat3): various cleanups
  README.md
  api/v1beta1/cryostat_conversion.go
  api/v1beta2/cryostat_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  docs/config.md
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/constants/constants.go
  internal/controllers/ingresses.go
  internal/controllers/reconciler_test.go
  internal/controllers/routes.go
  internal/controllers/secrets.go
  internal/test/resources.go
Labels: chore, safe-to-test

#809 chore(grafana): remove separate Grafana service/route/ingress
  api/v1beta1/cryostat_conversion.go
  api/v1beta1/cryostat_conversion_test.go
  api/v1beta2/cryostat_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/ingresses.go
  internal/controllers/reconciler.go
  internal/controllers/reconciler_test.go
  internal/controllers/routes.go
  internal/controllers/services.go
  internal/test/clients.go
  internal/test/conversion.go
  internal/test/resources.go
  internal/test/scorecard/common_utils.go
Labels: chore, safe-to-test

#813 feat(tls): enable TLS on authproxies
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/certmanager.go
  internal/controllers/common/resource_definitions/certificates.go
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/configmaps.go
  internal/controllers/const_generated.go
  internal/controllers/constants/constants.go
  internal/controllers/reconciler.go
  internal/controllers/reconciler_test.go
  internal/controllers/routes.go
  internal/test/clients.go
  internal/test/resources.go
Labels: safe-to-test

#818 fix(reports): update deprecated quarkus properties
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/scorecard/patches/custom.config.yaml
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/test/resources.go
Labels: fix, safe-to-test

#820 test(scorecard): fix broken scorecard tests for 3.0
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/tests/scorecard/config.yaml
  config/scorecard/patches/custom.config.yaml
  internal/test/scorecard/clients.go
  internal/test/scorecard/common_utils.go
  internal/test/scorecard/openshift.go
  internal/test/scorecard/tests.go
  internal/test/scorecard/types.go
Labels: fix, test, safe-to-test

#821 feat(scorecard): allow running scorecard test locally
  Makefile
  internal/images/custom-scorecard-tests/main.go
  internal/test/scorecard/clients.go
Labels: feat, test, safe-to-test

#825 feat(status): CR status for database and storage secrets
  api/v1beta1/cryostat_types.go
  api/v1beta2/cryostat_types.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/reconciler_test.go
  internal/controllers/secrets.go
  internal/test/resources.go
Labels: feat, chore, safe-to-test

#827 fix(secret): database should use user-defined secret if specified
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/reconciler_test.go
  internal/test/resources.go
Labels: fix, chore, safe-to-test

#833 chore(storage): rename storage secret
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/reconciler_test.go
  internal/controllers/secrets.go
  internal/test/resources.go
Labels: chore, safe-to-test

#823 chore(jmx): remove configuration for JMX server, service, and auth secret
  README.md
  api/v1beta1/cryostat_conversion.go
  api/v1beta1/cryostat_conversion_test.go
  api/v1beta2/cryostat_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/samples/sample-app-agent.yaml
  docs/config.md
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/constants/constants.go
  internal/controllers/reconciler_test.go
  internal/controllers/secrets.go
  internal/controllers/services.go
  internal/test/conversion.go
  internal/test/resources.go
  internal/test/scorecard/tests.go
Labels: chore, safe-to-test

#828 chore(discovery): ensure consistent names for discovery options in CRD
  api/v1beta1/cryostat_conversion.go
  api/v1beta2/cryostat_types.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/reconciler_test.go
  internal/test/resources.go
Labels: chore, safe-to-test

#834 fix(scorecard): print newline instead of \n in local scorecard test output
  Makefile
Labels: safe-to-test

#837 chore(CI): update OLM to 0.28.0
  .github/workflows/test-ci-reusable.yml
Labels: safe-to-test
