Repository cryostatio/cryostat-operator, pull requests merged in 2024-03, with the labels that each got.

#742 chore(api): remove MaxWsConnections
  api/v1beta1/cryostat_conversion.go
  api/v1beta1/cryostat_conversion_test.go
  api/v1beta2/cryostat_types.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  docs/config.md
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/reconciler_test.go
  internal/test/resources.go
Labels: chore, breaking change, safe-to-test

#698 test(scorecard): scorecard tests for recording management
  .github/workflows/test-ci-reusable.yml
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/tests/scorecard/config.yaml
  config/rbac/oauth_client.yaml
  config/scorecard/bases/config.yaml
  config/scorecard/patches/custom.config.yaml
  hack/custom.config.yaml.in
  internal/images/custom-scorecard-tests/main.go
  internal/images/custom-scorecard-tests/rbac/scorecard_role.yaml
  internal/test/scorecard/clients.go
  internal/test/scorecard/common_utils.go
  internal/test/scorecard/openshift.go
  internal/test/scorecard/tests.go
  internal/test/scorecard/types.go
Labels: test, safe-to-test

#739 test(scorecard): scorecard test for Cryostat CR configuration changes
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/tests/scorecard/config.yaml
  config/scorecard/patches/custom.config.yaml
  go-license.yml
  hack/custom.config.yaml.in
  internal/images/custom-scorecard-tests/main.go
  internal/test/scorecard/clients.go
  internal/test/scorecard/common_utils.go
  internal/test/scorecard/tests.go
Labels: test, safe-to-test

#743 chore(api): remove CommandConfig from NetworkOptions
  api/v1beta1/cryostat_conversion.go
  api/v1beta1/cryostat_conversion_test.go
  api/v1beta2/cryostat_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/test/conversion.go
  internal/test/resources.go
Labels: chore, safe-to-test

#753 test(scorecard): scorecard test for report generator
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/tests/scorecard/config.yaml
  config/scorecard/patches/custom.config.yaml
  hack/custom.config.yaml.in
  internal/images/custom-scorecard-tests/main.go
  internal/test/scorecard/clients.go
  internal/test/scorecard/common_utils.go
  internal/test/scorecard/tests.go
Labels: test, safe-to-test

#760 fix(build-ci): fix scorecard image tag returned as null
  .github/workflows/build-ci.yml
Labels: fix, ci, safe-to-test

#751 chore(api): remove minimal option from CR spec
  api/v1beta1/cryostat_conversion.go
  api/v1beta1/cryostat_conversion_test.go
  api/v1beta2/cryostat_types.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  config/samples/operator_v1beta2_cryostat.yaml
  docs/config.md
  internal/controllers/certmanager.go
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/ingresses.go
  internal/controllers/reconciler.go
  internal/controllers/reconciler_test.go
  internal/controllers/routes.go
  internal/controllers/secrets.go
  internal/controllers/services.go
  internal/test/conversion.go
  internal/test/resources.go
Labels: chore, safe-to-test

#758 test(scorecard): add container logs to scorecard results
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/tests/scorecard/config.yaml
  config/scorecard/patches/custom.config.yaml
  internal/images/custom-scorecard-tests/rbac/scorecard_role.yaml
  internal/test/scorecard/common_utils.go
  internal/test/scorecard/logger.go
  internal/test/scorecard/tests.go
Labels: test, safe-to-test

#769 fix(CI): add permission to publish comment when ci fails
  .github/workflows/test-ci-command.yml
Labels: ci, safe-to-test

#780 test(scorecard): fix rebasing skipped commit
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/tests/scorecard/config.yaml
  config/scorecard/patches/custom.config.yaml
  internal/images/custom-scorecard-tests/main.go
  internal/test/scorecard/common_utils.go
  internal/test/scorecard/logger.go
  internal/test/scorecard/openshift.go
  internal/test/scorecard/tests.go
Labels: safe-to-test

#781 chore(version): bump version to 3.0.0-dev
  Makefile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/tests/scorecard/config.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  config/scorecard/patches/custom.config.yaml
  internal/controllers/const_generated.go
  internal/controllers/cryostat_controller.go
  internal/controllers/insights/test/resources.go
  internal/tools/const_generator.go
Labels: chore, safe-to-test
