Repository cryostatio/cryostat-operator, pull requests merged in 2024-12, with the labels that each got.

#980 docs(readme): point user to OperatorHub for installation, move development steps to end
  README.md
Labels: docs, safe-to-test

#974 feat(service): add part-of, instance selector labels and appProtocol
  internal/controllers/services.go
  internal/test/resources.go
Labels: feat, safe-to-test

#985 test(scorecard): adjust scorecard report generation expectation
  internal/test/scorecard/clients.go
  internal/test/scorecard/tests.go
Labels: test, safe-to-test

#988 test(webhook): add test for Cryostat defaulter webhook
  internal/webhooks/cryostat_webhook.go
  internal/webhooks/defaulter_test.go
  internal/webhooks/validator.go
  internal/webhooks/validator_test.go
Labels: test, safe-to-test

#983 test(sampleapp): configure Cryostat Agent sample app to use k8s serviceaccount token auth
  Makefile
  config/samples/sample-app-agent.yaml
Labels: test, safe-to-test

#968 fix(tls): use fixed-length cert CommonNames
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/certmanager.go
  internal/controllers/common/resource_definitions/certificates.go
  internal/controllers/constants/constants.go
  internal/controllers/reconciler_test.go
  internal/test/resources.go
Labels: fix, safe-to-test

#955 chore(release): set versions for 3.0.2-dev
  Makefile
  bundle.Dockerfile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
  config/default/image_pull_patch.yaml
  config/default/image_tag_patch.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  config/scorecard/patches/custom.config.yaml
  internal/controllers/const_generated.go
Labels: chore, safe-to-test
