Repository cryostatio/cryostat-operator, pull requests merged in 2024-02, with the labels that each got.

#719 feat(csv): require AllNamespaces install mode
  Makefile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/reconciler.go
  internal/controllers/reconciler_test.go
  internal/controllers/reconciler_unit_test.go
  internal/main.go
Labels: feat, breaking change, safe-to-test

#715 feat(discovery): options to configure discovery port names and numbers
  api/v1beta1/cryostat_types.go
  api/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_clustercryostats.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_clustercryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/reconciler_test.go
  internal/test/resources.go
Labels: feat, backport, safe-to-test

#733 feat(discovery): discovery port name/number options for v1betav2
  api/v1beta1/cryostat_conversion.go
  api/v1beta1/cryostat_conversion_test.go
  api/v1beta2/cryostat_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_clustercryostats.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_clustercryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/test/conversion.go
  internal/test/resources.go
Labels: feat, safe-to-test

#745 fix(CI): add comment when /build_test is finished
  .github/workflows/test-ci-command.yml
Labels: ci, safe-to-test

#746 feat(scorecard): add ability to select scorecard tests
  Makefile
Labels: feat, safe-to-test
