Repository cryostatio/cryostat-operator, pull requests merged in 2024-04, with the labels that each got.

#786 ci(branch): run push workflows on cryostat3 branch
  .github/workflows/build-ci.yml
  .github/workflows/test-ci-push.yml
Labels: ci, safe-to-test

#763 test(scorecard): multi-namespace scorecard test
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/tests/scorecard/config.yaml
  config/scorecard/patches/custom.config.yaml
  hack/custom.config.yaml.in
  internal/images/custom-scorecard-tests/main.go
  internal/images/custom-scorecard-tests/rbac/scorecard_role.yaml
  internal/test/scorecard/clients.go
  internal/test/scorecard/common_utils.go
  internal/test/scorecard/tests.go
Labels: test, safe-to-test

#773 test(scorecard): multi-namespace scorecard test for 3.0
  api/v1beta1/cryostat_types.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  bundle/tests/scorecard/config.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  config/scorecard/patches/custom.config.yaml
  hack/custom.config.yaml.in
  internal/images/custom-scorecard-tests/main.go
  internal/images/custom-scorecard-tests/rbac/scorecard_role.yaml
  internal/test/scorecard/clients.go
  internal/test/scorecard/common_utils.go
  internal/test/scorecard/logger.go
  internal/test/scorecard/tests.go
Labels: test, safe-to-test

#772 test(scorecard): add container logs for report sidecard test
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/tests/scorecard/config.yaml
  config/scorecard/patches/custom.config.yaml
  internal/test/scorecard/common_utils.go
  internal/test/scorecard/logger.go
  internal/test/scorecard/tests.go
Labels: test, safe-to-test

#774 test(scorecard): retry on cryostat update conflict
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/tests/scorecard/config.yaml
  config/scorecard/patches/custom.config.yaml
  internal/test/scorecard/common_utils.go
  internal/test/scorecard/tests.go
Labels: test, safe-to-test

#727 feat(deploy): deploy cryostat 3.0
  Makefile
  api/v1beta1/cryostat_conversion_test.go
  api/v1beta1/cryostat_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta2/cryostat_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle.Dockerfile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  bundle/metadata/annotations.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/default/image_tag_patch.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/const_generated.go
  internal/controllers/constants/constants.go
  internal/controllers/reconciler.go
  internal/controllers/reconciler_test.go
  internal/controllers/secrets.go
  internal/test/reconciler.go
  internal/test/resources.go
  internal/tools/const_generator.go
Labels: feat, breaking change, safe-to-test

#799 feat(auth): deploy openshift auth proxy
  Makefile
  api/v1beta2/cryostat_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator-cryostat_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/default/image_tag_patch.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  config/rbac/cryostat_role.yaml
  hack/image_tag_patch.yaml.in
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/const_generated.go
  internal/controllers/constants/constants.go
  internal/controllers/reconciler.go
  internal/controllers/reconciler_test.go
  internal/controllers/services.go
  internal/test/reconciler.go
  internal/test/resources.go
  internal/test/scorecard/common_utils.go
  internal/tools/const_generator.go
Labels: feat, safe-to-test

#802 feat(auth): add configuration for htpasswd basic auth
  api/v1beta2/cryostat_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/common/resource_definitions/resource_definitions.go
Labels: feat, safe-to-test
