Repository cryostatio/cryostat-operator, pull requests merged in 2024-09, with the labels that each got.

#939 fix(db): correct hibernate config after Flyway introduction
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/test/resources.go
Labels: fix, safe-to-test

#938 feat(tls): generate client certificates for agents
  Makefile
  internal/controllers/certmanager.go
  internal/controllers/common/common_utils.go
  internal/controllers/common/resource_definitions/certificates.go
  internal/controllers/reconciler.go
  internal/controllers/reconciler_test.go
  internal/controllers/secrets.go
  internal/test/clients.go
  internal/test/resources.go
Labels: feat, safe-to-test

#943 fix(olm): rename deployment to handle immutable selector
  Makefile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/default/image_pull_patch.yaml
  config/default/image_tag_patch.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/default/manager_config_patch.yaml
  config/default/manager_webhook_patch.yaml
  config/insights/insights_patch.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/kustomization.yaml
  hack/image_pull_patch.yaml.in
  hack/image_tag_patch.yaml.in
  hack/insights_patch.yaml.in
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/constants/constants.go
  internal/controllers/reconciler_test.go
  internal/test/scorecard/common_utils.go
Labels: fix, backport, safe-to-test

#945 chore(scorecard): bump Scorecard image tag
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/tests/scorecard/config.yaml
  config/scorecard/patches/custom.config.yaml
Labels: chore, backport, safe-to-test

#950 fix(watch): enqueue CR when target namespace is deleted
  internal/controllers/certmanager.go
  internal/controllers/common/builder.go
  internal/controllers/common/common_utils.go
  internal/controllers/constants/constants.go
  internal/controllers/cryostat_controller.go
  internal/controllers/rbac.go
  internal/controllers/reconciler.go
  internal/controllers/reconciler_test.go
  internal/main.go
  internal/test/builder.go
  internal/test/reconciler.go
  internal/test/resources.go
Labels: fix, safe-to-test

#954 chore(release): set versions for 3.0.1
  Makefile
  bundle.Dockerfile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/default/image_pull_patch.yaml
  config/default/image_tag_patch.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/const_generated.go
Labels: chore, safe-to-test
