Repository cryostatio/cryostat-operator, pull requests merged in 2025-02, with the labels that each got.

#1038 fix(oauth): make OAuth2 Proxy config map mutable
  internal/controllers/configmaps.go
  internal/controllers/reconciler_test.go
  internal/test/resources.go
Labels: fix, safe-to-test

#1040 chore(plugin): set default requests/limits and replicas
  config/openshift/console-plugin/deployment-cryostat-plugin.yaml
Labels: chore, safe-to-test

#1041 build(nginx): update Nginx to UBI9
  Makefile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/default/image_tag_patch.yaml
  internal/controllers/constants/const_generated.go
  internal/controllers/reconciler_test.go
Labels: chore, build, safe-to-test

#1042 build(agent): add agent init image to related images
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/default/image_tag_patch.yaml
  hack/image_tag_patch.yaml.in
Labels: chore, build, safe-to-test

#1044 build(versions): set versions for 4.0 release branch
  Makefile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/default/image_tag_patch.yaml
  config/overlays/insights/insights_patch.yaml
  hack/insights_patch.yaml.in
  internal/controllers/constants/const_generated.go
Labels: chore, build, safe-to-test

#1045 build(insights): add Kustomize patch to adjust pull policy
  Makefile
  config/insights/insights_image_pull_patch.yaml
  config/insights/kustomization.yaml
  hack/insights_image_pull_patch.yaml.in
Labels: chore, backport, build, safe-to-test

#1050 feat(agent): add labels for Harvester exit uploads
  internal/controllers/constants/constants.go
  internal/webhooks/agent/pod_defaulter.go
  internal/webhooks/agent/pod_defaulter_test.go
  internal/webhooks/agent/test/resources.go
Labels: feat, backport, safe-to-test

#1058 test(scorecard): disable NetworkPolicies during scorecard testing
  internal/test/scorecard/common_utils.go
Labels: test, backport, safe-to-test

#1048 docs(quickstart): add agent autoconfig quickstart
  config/openshift/cryostat-quickstart-autoconfig.yaml
  config/openshift/cryostat-quickstart-jmx.yaml
  config/openshift/kustomization.yaml
Labels: docs, chore, backport, safe-to-test

#1063 chore(scorecard): bump Scorecard tag
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/tests/scorecard/config.yaml
  config/scorecard/patches/custom.config.yaml
Labels: chore, backport, safe-to-test

#1065 docs(links): update to point to 4.0.0 tag
  api/v1beta2/cryostat_types.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
Labels: docs, backport, safe-to-test
