Repository cryostatio/cryostat-operator, pull requests merged in 2025-01, with the labels that each got.

#998 ci(criu): add CRIU PPA for Podman dependency
  .github/workflows/build-ci.yml
  .github/workflows/test-ci-reusable.yml
Labels: ci, safe-to-test

#997 build(oci): switch builder image to ubi9 go toolset
  Dockerfile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/tests/scorecard/config.yaml
  config/scorecard/patches/custom.config.yaml
  internal/images/custom-scorecard-tests/Dockerfile
Labels: build, safe-to-test

#953 chore(base): upgrade to UBI9
  Dockerfile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/tests/scorecard/config.yaml
  config/scorecard/patches/custom.config.yaml
  internal/images/custom-scorecard-tests/Dockerfile
Labels: chore, dependencies, safe-to-test

#923 feat(deploy): separate -storage and -db pods
  api/v1beta2/cryostat_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  internal/controllers/certmanager.go
  internal/controllers/common/resource_definitions/certificates.go
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/constants/constants.go
  internal/controllers/pvc.go
  internal/controllers/reconciler.go
  internal/controllers/reconciler_test.go
  internal/controllers/services.go
  internal/test/resources.go
Labels: feat, safe-to-test

#1011 feat(agent): add CRD option to disable hostname verification
  api/v1beta2/cryostat_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/reconciler_test.go
  internal/test/resources.go
  internal/webhooks/agent/pod_defaulter.go
  internal/webhooks/agent/pod_defaulter_test.go
  internal/webhooks/agent/test/resources.go
Labels: feat, safe-to-test

#1018 feat(agent): add object selector for pod webhook
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  config/default/webhook_object_selector_patch.yaml
  internal/webhooks/agent/pod_defaulter.go
Labels: feat, safe-to-test

#1017 feat(network): implement ingress network policies
  api/v1beta2/cryostat_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  config/samples/operator_v1beta2_cryostat.yaml
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/cryostat_controller.go
  internal/controllers/networkpolicy.go
  internal/controllers/reconciler.go
  internal/controllers/reconciler_test.go
  internal/test/resources.go
Labels: feat, safe-to-test

#1021 feat(agent): add CRD property and label for agent callback
  api/v1beta1/cryostat_conversion.go
  api/v1beta2/cryostat_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/common/naming.go
  internal/controllers/common/resource_definitions/certificates.go
  internal/controllers/constants/constants.go
  internal/controllers/reconciler.go
  internal/controllers/reconciler_test.go
  internal/controllers/services.go
  internal/test/resources.go
  internal/test/scorecard/common_utils.go
  internal/webhooks/agent/pod_defaulter.go
  internal/webhooks/agent/pod_defaulter_test.go
  internal/webhooks/agent/test/resources.go
Labels: feat, safe-to-test

#1022 feat(network): implement network policy for Agent gateway
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/networkpolicy.go
  internal/test/resources.go
Labels: feat, safe-to-test

#1019 feat(db): enable JDBC TLS configuration
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/reconciler_test.go
  internal/test/resources.go
Labels: feat, safe-to-test

#1025 feat(agent): add label to control which container is mutated
  config/samples/sample-app-agent-injected.yaml
  internal/controllers/constants/constants.go
  internal/webhooks/agent/pod_defaulter.go
  internal/webhooks/agent/pod_defaulter_test.go
  internal/webhooks/agent/test/resources.go
Labels: feat, safe-to-test

#1020 feat(storage): enable storage TLS configuration
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/configmaps.go
  internal/controllers/reconciler_test.go
  internal/controllers/routes.go
  internal/controllers/services.go
  internal/test/resources.go
Labels: feat, safe-to-test

#1010 feat(pvc): split PVCs for database and storage
  api/v1beta1/cryostat_conversion.go
  api/v1beta1/cryostat_conversion_test.go
  api/v1beta2/cryostat_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  bundle/tests/scorecard/config.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  config/samples/operator_v1beta2_cryostat.yaml
  config/samples/sample-app.yaml
  config/scorecard/patches/custom.config.yaml
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/pvc.go
  internal/controllers/reconciler.go
  internal/controllers/reconciler_test.go
  internal/test/resources.go
  internal/test/scorecard/common_utils.go
  internal/test/scorecard/tests.go
Labels: feat, safe-to-test

#1027 ci(bundle): build plain-k8s and OCP bundle modes
  .github/workflows/build-ci.yml
  .github/workflows/test-ci-push.yml
Labels: ci, safe-to-test

#1009 feat(deploy): split Deployments
  api/v1beta1/cryostat_conversion.go
  api/v1beta1/cryostat_conversion_test.go
  api/v1beta2/cryostat_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  bundle/tests/scorecard/config.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  config/samples/operator_v1beta2_cryostat.yaml
  config/samples/sample-app.yaml
  config/scorecard/patches/custom.config.yaml
  internal/controllers/certmanager.go
  internal/controllers/common/resource_definitions/certificates.go
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/configmaps.go
  internal/controllers/constants/constants.go
  internal/controllers/cryostat_controller.go
  internal/controllers/networkpolicy.go
  internal/controllers/pvc.go
  internal/controllers/reconciler.go
  internal/controllers/reconciler_test.go
  internal/controllers/routes.go
  internal/controllers/services.go
  internal/test/resources.go
  internal/test/scorecard/common_utils.go
  internal/test/scorecard/tests.go
Labels: feat, safe-to-test

#1023 feat(consoleplugin): operator installs and configures ConsolePlugin
  Dockerfile
  Makefile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/openshift/console-plugin/clusterrole-cryostat-plugin-patcher.yaml
  config/openshift/console-plugin/clusterrole-cryostat-plugin.yaml
  config/openshift/console-plugin/clusterrolebinding-cryostat-plugin-patcher.yaml
  config/openshift/console-plugin/clusterrolebinding-cryostat-plugin.yaml
  config/openshift/console-plugin/deployment-cryostat-plugin.yaml
  config/openshift/console-plugin/service-cryostat-plugin.yaml
  config/openshift/console-plugin/serviceaccount-cryostat-plugin.yaml
  config/openshift/kustomization.yaml
  config/openshift/plugin_image_pull_patch.yaml
  config/overlays/insights/insights_patch.yaml
  config/overlays/insights/kustomization.yaml
  config/overlays/openshift/console_plugin_patch.yaml
  config/overlays/openshift/kustomization.yaml
  hack/plugin_image_pull_patch.yaml.in
  internal/console/console_suite_test.go
  internal/console/plugin.go
  internal/console/plugin_test.go
  internal/console/test/resources.go
  internal/controllers/constants/constants.go
  internal/main.go
Labels: feat, safe-to-test

#1029 feat(agent): add label for read-only agent
  internal/controllers/constants/constants.go
  internal/webhooks/agent/pod_defaulter.go
  internal/webhooks/agent/pod_defaulter_test.go
  internal/webhooks/agent/test/resources.go
Labels: feat, safe-to-test

#1031 fix(plugin): check OpenShift version compatibility
  internal/console/console_suite_test.go
  internal/console/plugin.go
  internal/console/plugin_test.go
  internal/console/test/resources.go
  internal/controllers/constants/constants.go
Labels: fix, safe-to-test

#1034 fix(service): set appProtocol to https if TLS enabled
  internal/controllers/constants/constants.go
  internal/controllers/services.go
  internal/test/resources.go
Labels: fix, safe-to-test

#1035 feat(agent): add label for Java options variable name
  internal/controllers/constants/constants.go
  internal/webhooks/agent/pod_defaulter.go
  internal/webhooks/agent/pod_defaulter_test.go
  internal/webhooks/agent/test/resources.go
Labels: feat, safe-to-test

#1036 fix(rbac): remove unused permissions from ClusterRole
  bundle/manifests/cryostat-operator-cryostat_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/rbac/cryostat_role.yaml
  config/rbac/role.yaml
  internal/controllers/cryostat_controller.go
Labels: fix, safe-to-test

#1037 feat(agent): add option for init container resources
  api/v1beta2/cryostat_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/common/common_utils.go
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/test/expect.go
  internal/webhooks/agent/pod_defaulter.go
  internal/webhooks/agent/pod_defaulter_test.go
  internal/webhooks/agent/test/resources.go
Labels: feat, safe-to-test
