Repository cryostatio/cryostat-operator, pull requests merged in 2025-06, with the labels that each got.

#1125 chore(version): set versions to 4.0.1 for release
  Makefile
  bundle.Dockerfile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/default/image_pull_patch.yaml
  config/default/image_tag_patch.yaml
  config/insights/insights_image_pull_patch.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  config/openshift/plugin_image_pull_patch.yaml
  config/overlays/insights/insights_patch.yaml
  internal/controllers/constants/const_generated.go
Labels: chore, safe-to-test

#1126 chore(version): bump versions for 4.0.2-dev
  Makefile
  bundle.Dockerfile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
  config/default/image_pull_patch.yaml
  config/default/image_tag_patch.yaml
  config/insights/insights_image_pull_patch.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  config/openshift/plugin_image_pull_patch.yaml
  config/overlays/insights/insights_patch.yaml
  config/scorecard/patches/custom.config.yaml
  internal/controllers/constants/const_generated.go
Labels: chore, safe-to-test

#1094 chore(discovery): replace Endpoints with EndpointSlices
  README.md
  bundle/manifests/cryostat-operator-cryostat-namespaced_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/cryostat-operator-oauth-client_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  config/rbac/cryostat_namespaced_role.yaml
  config/rbac/oauth_client.yaml
  config/rbac/role.yaml
  internal/controllers/cryostat_controller.go
  internal/images/custom-scorecard-tests/rbac/scorecard_role.yaml
  internal/test/resources.go
Labels: chore, safe-to-test

#1089 feat(credentials): Implement declarative stored credentials
  api/v1beta2/cryostat_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/reconciler_test.go
  internal/test/resources.go
Labels: feat, safe-to-test

#1098 test(samples): add liveness/readiness probes to sample apps
  Makefile
  config/samples/sample-app-agent-injected.yaml
  config/samples/sample-app.yaml
Labels: test, safe-to-test

#1102 feat(reports): configure reports for presigned recording transfer
  internal/controllers/certmanager.go
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/networkpolicy.go
  internal/controllers/reconciler.go
  internal/controllers/reconciler_test.go
  internal/controllers/secrets.go
  internal/test/resources.go
Labels: feat, safe-to-test
