Repository cryostatio/cryostat-operator, pull requests merged in 2025-03, with the labels that each got.

#1073 fix(insights): correct environment variable order in overlay
  config/overlays/insights/insights_manager_patch.yaml
  config/overlays/insights/insights_patch.yaml
  config/overlays/insights/kustomization.yaml
  hack/insights_patch.yaml.in
Labels: fix, backport, safe-to-test

#1076 feat(agent): add toggle to allow insecure connections
  api/v1beta2/cryostat_types.go
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/manifests/operator.cryostat.io_cryostats.yaml
  config/crd/bases/operator.cryostat.io_cryostats.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  internal/controllers/common/resource_definitions/resource_definitions.go
  internal/controllers/reconciler_test.go
  internal/test/resources.go
Labels: feat, backport, safe-to-test

#1077 fix(agent): don't require TLS when cert-manager is disabled
  internal/webhooks/agent/pod_defaulter.go
  internal/webhooks/agent/test/resources.go
Labels: fix, backport, safe-to-test

#1085 test(agent): fix failing pull policy test on release
  internal/webhooks/agent/pod_defaulter_test.go
Labels: test, backport, safe-to-test

#1082 chore(release): set versions for 4.0.1-dev
  Makefile
  bundle.Dockerfile
  bundle/manifests/cryostat-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
  config/default/image_pull_patch.yaml
  config/default/image_tag_patch.yaml
  config/insights/insights_image_pull_patch.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/cryostat-operator.clusterserviceversion.yaml
  config/openshift/plugin_image_pull_patch.yaml
  config/overlays/insights/insights_patch.yaml
  config/scorecard/patches/custom.config.yaml
  internal/controllers/constants/const_generated.go
Labels: chore, build, safe-to-test
